$primary-50: #F5F4FB;
$primary-100: #EAE9F7;
$primary-200: #D5D4EE;
$primary-300: #ABA8DE;
$primary-400: #9693D5;
$primary-500: #807DCD;
$primary-600: #6B67C5;
$primary-700: #5651BD;
$primary-800: #2C26AC;
$primary-900: #28229B;
$dark: #000000;
$invalid: #b00606;

$light-medium-transparent: rgba(183, 168, 154, 0.75);


$primary: #311b92;
$primary-light: #6746c3;
$primary-dark: #000063;

$secondary: #d1c4e9;
$secondary-light: #fff7ff;
$secondary-dark: #a094b7;

