$primary-50: #e7f7ea;
$primary-100: #c5eacc;
$primary-200: #9fddac;
$primary-300: #75d08a;
$primary-400: #53c571;
$primary-500: #2cba57;
$primary-600: #22ab4d;
$primary-700: #139841;
$primary-800: #008736;
$primary-900: #006821;
$dark: #000000;
$dark-half-transparent: rgba(0, 0, 0, 0.65);
$dark-transparent: rgba(0, 0, 0, 0.35);
$invalid: #fe7100;

$light-medium-transparent: rgba(183, 168, 154, 0.75);

$primary: #1a9242;
$primary-light: #6cbc7f;
$primary-dark: #00521a;

$secondary: #fecb29;
$secondary-light: #ffecb3;
$secondary-dark: #f1984f;
$secondary-dark-: #ff7100;

$default-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                 0 1px 5px 0 rgba(0, 0, 0, 0.12);
