$light: #e1dce0;
$light-medium: #B7A89A;
$light-medium-transparent: rgba(183, 168, 154, 0.75);
$medium: #5C5552;
$medium-dark: #504643;
$dark: #433633;
$dark-plus: #332A28;
$full-dark: #231E1D;
$invalid: #b00606;
