@import "src/app/shared/colors";

.works-actions-container {
  width: 100%;
}

.work-inputs-container {
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  flex-direction: row;
}

.date-work-form-field {
  height: 89px !important;
  min-height: 89px !important;
  max-height: 89px !important;
}

.current-job-checkbox {
  margin-left: 10px;
  margin-bottom: 15px;
}

.full-width-input {
  width: 490px;
  margin-left: 10px;
}
