<div class="content-container" id="content-container-resume">
  <div class="content-header">
    <div class="header-title">
      Generate resume
    </div>
    <div class="buttons-container">
      <button mat-raised-button color="primary" (click)="previousStep()">Previous</button>
      <button mat-raised-button color="accent" (click)="download()">
        Download CV
      </button>
    </div>
  </div>
</div>

<pdf-viewer
  [src]="url!"
  [rotation]="0"
  [original-size]="true"
  [show-all]="true"
  [fit-to-page]="false"
  [zoom]="1"
  [zoom-scale]="'page-width'"
  [stick-to-page]="false"
  [render-text]="true"
  [external-link-target]="'blank'"
  [autoresize]="true"
  [show-borders]="true"
  class="pdf-viewer"
></pdf-viewer>
