@import "src/app/shared/colors";

div.app-content-wrapper {
  width: calc(100% - 25px);
  height: calc(100% - 20px);
  background-color: $medium-dark;
  background-image: url("../../../assets/images/background1.jpg");
  background-repeat: repeat;
  background-size: 30%;

  padding: 10px 5px 10px 20px;
  overflow: auto;
}
