<div class="sidebar-wrapper">
  <a class="logo-wrapper" href="/home">
    <img src="assets/images/logo.png" alt="Logo" class="logo-image">
  </a>
  <div class="navigation-wrapper">
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>person_outline</mat-icon>
      </div>
      <div class="element-title">
        My account
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>business_center</mat-icon>
      </div>
      <div class="element-title">
        Experience
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>school</mat-icon>
      </div>
      <div class="element-title">
        Education
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>contact_mail</mat-icon>
      </div>
      <div class="element-title">
        Generate resume
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>import_contacts</mat-icon>
      </div>
      <div class="element-title">
        Certifications and courses
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>settings</mat-icon>
      </div>
      <div class="element-title">
        Settings
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>exit_to_app</mat-icon>
      </div>
      <div class="element-title" (click)="logout()">
        Logout
      </div>
    </div>
  </div>
</div>
