<div class="sidebar-wrapper">
  <a class="logo-wrapper" href="/home">
    <img src="assets/images/logo.png" alt="Logo" class="logo-image">
  </a>
  <div class="navigation-wrapper">
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>settings</mat-icon>
      </div>
      <div class="element-title">
        Settings
      </div>
    </div>
    <div class="navigation-element">
      <div class="element-icon">
        <mat-icon>exit_to_app</mat-icon>
      </div>
      <div class="element-title" (click)="logout()">
        Logout
      </div>
    </div>
  </div>
</div>
