@import "src/app/shared/colors";

div.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  div.grid {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);

    div.grid-item {
      height: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      background-color: $dark;
      border: 2px solid $full-dark;
      border-radius: 10px;
      box-shadow: 0 0 7.5px $full-dark;
      font-family: Consolas, monaco, monospace;
      font-size: 2vw;
      text-align: center;
      cursor: pointer;
      transition: all 0.8s ease-in-out;

      //&:nth-of-type(4n - 3) {
      //  grid-row: span 2;
      //  grid-column: span 2;
      //}
      //
      //&:nth-of-type(4n - 1) {
      //  grid-column: span 2;
      //}

      &:nth-of-type(2) {
        grid-row: span 2;
        //grid-column: span 2;
      }

      &:nth-of-type(4) {
        grid-row: span 2;
        grid-column: span 2;
      }

      &:hover {
        background-color: $medium;
        color: $light-medium;
        border-color: $medium;
        box-shadow: 0 0 5px $medium, 0 0 15px $medium, 0 0 25px $medium;
        transition: all 0.4s ease-in-out;
      }

      div.grid-item-title {
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      div.grid-item-icon {
        height: 45%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        mat-icon {
          width: 50%;
          font-size: 3.5vw;
        }
      }
    }
  }
}
