<mat-stepper #stepper [@.disabled]="true" (selectionChange)="selectionChange($event)">
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>About me</ng-template>
    <app-about-me [formGroup]="aboutMeFormGroup"
                  (next)="next()">
    </app-about-me>
  </mat-step>
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>Experience</ng-template>
    <app-experience (previous)=previous()
                    (next)="next()">
    </app-experience>
  </mat-step>
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>Skills</ng-template>
    <app-skills (previous)=previous()
                (next)="next()">
    </app-skills>
  </mat-step>
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>Education</ng-template>
    <app-education (previous)=previous()
                   (next)="next()">
    </app-education>
  </mat-step>
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>Courses</ng-template>
    <app-courses (previous)=previous()
                 (next)="next()">
    </app-courses>
  </mat-step>
  <mat-step [stepControl]="aboutMeFormGroup">
    <ng-template matStepLabel>Generate resume</ng-template>
    <app-generate-resume [refreshEvent]="refreshEventSubject.asObservable()"
                         (previous)=previous()
    >
    </app-generate-resume>
  </mat-step>
</mat-stepper>
