<div class="home-wrapper">
  <div class="grid">
    <div class="grid-item">
      <div class="grid-item-title">
        About me
      </div>
      <div class="grid-item-icon">
        <mat-icon>person_outline</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">
        Experience
      </div>
      <div class="grid-item-icon">
        <mat-icon>business_center</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">
        Education
      </div>
      <div class="grid-item-icon">
        <mat-icon>school</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">
        Generate resume
      </div>
      <div class="grid-item-icon">
        <mat-icon>contact_mail</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">
        Certifi
        <wbr>
        cations and courses
      </div>
      <div class="grid-item-icon">
        <mat-icon>import_contacts</mat-icon>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">
        Settings
      </div>
      <div class="grid-item-icon">
        <mat-icon>settings</mat-icon>
      </div>
    </div>
  </div>
</div>
